<footer class="footer-container">
  <div class="footer-section about">
    <img src="assets/over.png" alt="Logo" class="footer-logo" />
    <h3>ACERCA DE NOSOTROS</h3>
    <ul>
      <li><a href="#">¿Quiénes somos?</a></li>
      <li><a href="#">Términos de uso</a></li>
      <li><a href="login">Login</a></li>
    </ul>
  </div>

  <div class="footer-section info">
    <h3>INFORMACIÓN</h3>
    <ul>
      <li><a href="#">Datos de mi cuenta</a></li>
      <li><a href="#">Formas de pago</a></li>
      <li><a href="#">Sucursales</a></li>
      <li><a href="#">Marcas</a></li>
      <li><a href="#">Soporte técnico</a></li>
      <li><a href="#">Novedades</a></li>
    </ul>
  </div>

  <div class="footer-section policies">
    <h3>INFORMACIÓN</h3>
    <ul>
      <li><a href="#">Políticas de devolución</a></li>
      <li><a href="#">Políticas de privacidad</a></li>
      <li><a href="#">Políticas de reclamación a proveedor</a></li>
      <li><a href="#">Políticas para devolución de dinero</a></li>
      <li><a href="#">Políticas de garantía, envío y devolución de equipos</a></li>
      <li><a href="#">Política de pedidos especiales</a></li>
      <li><a href="#">Política de envío por paquetería</a></li>
    </ul>
  </div>

  <div class="footer-section contact">
    <h3>CONTACTO</h3>
    <p>Av George Washington 3701-Edificio 48, Dentro de, Complejo Industrial las Américas, 31114 Chihuahua, Chih.</p>
    <p>Correo: contacto.com.mx</p>
    <p>Teléfono: 614-654-4513</p>
  </div>

  <div class="footer-section newsletter">
    <h3>SUSCRÍBETE A NUESTRO NEWSLETTER</h3>
    <p>Entérate antes que nadie de nuestras ofertas y promociones.</p>
    <div class="newsletter-input">
      <input type="email" placeholder="Escribe tu correo electrónico..." />
      <button mat-raised-button color="primary">SUSCRIBIRSE</button>
    </div>
  </div>
</footer>
