<div class="listado-container">
  <h2>Listado de Fotos</h2>

  <div class="item-list">
    <div class="item-card" *ngFor="let photo of photos" (click)="onItemClicked(photo)">
      <img [src]="photo.urls.thumb" alt="{{ photo.alt_description }}" class="item-image" />
      <div class="item-info">
        <h3>{{ photo.alt_description || 'Sin descripción' }}</h3>
      </div>
    </div>
  </div>

  <div class="pagination-controls">
    <button class="pagination-button" (click)="changePage(-1)" [disabled]="currentPage === 1">Previous</button>
    <span class="page-number">Page {{ currentPage }}</span>
    <button class="pagination-button" (click)="changePage(1)">Next</button>
  </div>

  
</div>
